<header>
  <h1>Busca de personagens</h1>
  <h4>Nome do personagem</h4>
  <div class="search-wrapper">
    <input type="text" placeholder="Search" (keyup)="typeSearch($event)" />
  </div>
</header>

<section [@listAnimation]="characters">
  <ng-container *ngIf="!(loadingCharacters | async)">
    <div *ngFor="let character of characters">
      <app-card
        [character]="character"
        (click)="goToDetail(character)"
      ></app-card>
    </div>
  </ng-container>
</section>
<ng-container *ngIf="loadingCharacters | async"
  ><h2>loading...</h2></ng-container
>
