<header>
  <h1>Busca de personagens</h1>
  <h4>Nome do personagem</h4>
  <div class="search-wrapper">
    <input type="text" placeholder="Search" (keyup)="typeSearch($event)" />
  </div>
</header>

<section [@listAnimation]="characters">
  <ng-container *ngIf="!(loadingCharacters | async)">
    <div *ngFor="let hero of characters">
      <app-card [hero]="hero" [routerLink]="['/detail', hero.id]"></app-card>
    </div>
  </ng-container>
  <ng-container *ngIf="loadingCharacters | async"
    ><h1>Loading</h1></ng-container
  >
</section>
